[Unit]
Description=celery_email_checker
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/checker/
ExecStart=/root/checker/venv/bin/python /root/checker/run_celery.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target