[Unit]
Description=telegram_bot_email_checker
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/testChecker/
ExecStart=/root/testChecker/venv/bin/python /root/testChecker/bot.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target